*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    color: inherit;
    font-family: 'Roboto', sans-serif;
    font-family: 'Nerko One', cursive;
}
.container{
    width: 80%;
    margin: 0 auto;
}